
extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        div.ui.card
            div.image
                p une image ici
            div.content
                a.header son firstname
                div.meta
                    span bienvenue
                div.description votre joli tableau de bord
                div.extra
                    a
                        i.user.icon
                        p 22 posts
